  footer{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    background-color: lightblue;
  }
  footer h2{
    padding: 0;
  }
  footer p{
    padding: 0;
  }
  .redSocial{
    display: flex;
    flex-direction: row;
    align-content:center;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px 0px;
    font-size: xx-large;
  }
  .redSocial a{
    text-decoration: none;
    justify-content: space-evenly;
  }